@page {
    width: 90mm;
    height: 70mm;
    padding: 0.5mm;
}
img {
    height: 9mm;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
}
.label {
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 8px;
}
.scientificName{
	font-style: italic;
	font-size: larger;
	line-height: 70%;
}